In [15]:
import pandas as pd

df = pd.read_csv('assignment_4_data.csv')
dfnew =  df[df['Index'].isin([9, 14, 8, 7, 15, 13, 6, 3, 10, 4])]
display(dfnew)

    Index   X     Y
2       3   8  15.8
3       4   6  12.0
5       6   7  14.1
6       7   2   4.2
7       8   9  18.3
8       9   4   8.4
9      10  10  20.6
12     13  13  26.1
13     14  14  27.7
14     15  15  29.8