This Jupyter notebook presents a series of practice problems aimed at improving your skills in using the pandas library for data analysis. You will work through various tasks using a dataset of tips received by restaurant waitstaff, covering fundamental pandas operations such as performing basic statistical calculations, grouping and aggregating data, and applying element-wise operations.

In [1]:
import pandas as pd
url="https://drive.google.com/file/d/1tuoY2pOy57GJfy69cxOwWkxQ1tiWqDbJ/view?usp=sharing"
path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
tips = pd.read_csv(path)
tips.head()

   total_bill   tip     sex smoker  day    time   size
0       16.99  1.01  Female     No  Sun  Dinner    two
1       10.34  1.66    Male     No  Sun  Dinner  three
2       21.01  3.50    Male     No  Sun  Dinner  three
3       23.68  3.31    Male     No  Sun  Dinner    two
4       24.59  3.61  Female     No  Sun  Dinner   four

### 1. What is the average tip given?

In [3]:
tips['tip'].mean()

2.9982716049382714

### 2. What is the highest total bill recorded?

In [4]:
tips['total_bill'].max()

50.81

### 3. How many meals were served for each day of the week?

In [10]:
tips.value_counts('day')

day
Sat     86
Sun     74
Thur    62
Fri     19
Name: count, dtype: int64

### 4. What is the average tip by gender?

In [21]:
tips.groupby('sex')['tip'].mean()

sex
Female    2.833448
Male      3.090192
Name: tip, dtype: float64

### 5. Find the total number of smokers and non-smokers.

In [13]:
tips.value_counts('smoker')

smoker
No     150
Yes     93
Name: count, dtype: int64

### 6. What is the average tip for smokers and non-smokers?

In [20]:
tips.groupby('smoker')['tip'].mean()

smoker
No     2.99180
Yes    3.00871
Name: tip, dtype: float64

### 7. Which day has the highest total bill on average?

In [25]:
tips.groupby('day')['total_bill'].mean().idxmax()

'Sun'

### 8. Which gender tends to tip more on average during lunch?

In [36]:
tips[tips['time'] == 'Lunch'].groupby('sex')['tip'].mean().idxmax()

'Male'

### 9. Find the average total bill for each group size.

In [37]:
tips.groupby('size')['total_bill'].mean()

size
five     30.068000
four     29.213143
one       7.242500
six      34.830000
three    23.277632
two      16.441484
Name: total_bill, dtype: float64

### 10. Create a new column `tip_percentage` that represents the tip as a percentage of the total bill.

In [43]:
tips['tip_percentage'] = (tips['tip']/tips['total_bill'])*100
tips.head()

   total_bill   tip     sex smoker  day    time   size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner    two        5.944673
1       10.34  1.66    Male     No  Sun  Dinner  three       16.054159
2       21.01  3.50    Male     No  Sun  Dinner  three       16.658734
3       23.68  3.31    Male     No  Sun  Dinner    two       13.978041
4       24.59  3.61  Female     No  Sun  Dinner   four       14.680765